<!DOCTYPE html>
<html>
<head>
    <title>Done</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <style>
        *{font-family: 'Gowun Batang', serif; font-family: 'Nanum Gothic', sans-serif;}
        .group{font-size:60px; text-align:center; margin-top:200px; color:#6c757d;}
        .picture{font-size:60px; text-align:center; margin-top:200px; color:#6c757d;}
        .box{margin:10px 50px; font-size:50px; border-radius: 25px;}
        .camera{color:red; margin-top:60px; font-size:55px;}
        .detailAddr{ font-size:40px;}
        .name{margin:10px 50px; font-size:50px; border-radius: 25px;}
        .checkbox{margin:10px 50px; font-size:50px; border-radius: 25px;}
    </style>
</head>
<body>
    <div class="group">
        <div class="here">
            <img src="https://e7.pngegg.com/pngimages/199/694/png-clipart-computer-icons-map-location-sign-cdr-black-thumbnail.png" 
            style="width:50px; height:50px">
            현재 고객님의 위치는
            <div class="insert" style="color: #e9967a;"></div>
            입니다.
        </div>
        
        <div id="googleMap" style="width:90%;height:650px;;margin:20px auto;"></div>

        <div class="camera">현재 상황을 사진으로 알리고 싶다면?</div>

        <input type="file" id="takePicture" name="picture" accept="image/*" style="display:none;">
        <label for="takePicture" class="mb-2 mr-2 btn-transition btn btn-outline-secondary name">현 상황 알리기</label>
        <!--파일선택 대신 현 상황 알리기 글자 나오게, 버튼처럼 보이도록 css작업-->

    </div>

    <div class="picture" style="display:none;">
        <div style="margin-left:60px;">
            <img src="https://e7.pngegg.com/pngimages/199/694/png-clipart-computer-icons-map-location-sign-cdr-black-thumbnail.png" 
            style="width:60px; height:60px">
            현재 이미지를 전송할까요?
        </div>
        <br>
        <div style="text-align:center;">
            <img class="show" alt="error" style="width:80%; height:80%;">
            <br><br>
            <button class="mb-2 mr-2 btn-transition btn btn-outline-secondary checkbox" onclick="blobToDataUrl();">
                전송</button>
            <button class="mb-2 mr-2 btn-transition btn btn-outline-secondary checkbox" onclick="location.href='/done'";">
                다른 파일 전송</button>
        </div>
    </div>

    <script>
        function myMap(){
            var receive=JSON.parse(localStorage.getItem("send"));//localStorage에 저장된 send객체값 가져오기
            var lat, lon, loc;
            lat=receive.lat;
            lon=receive.lon;
            loc=receive.loc;

            var post=document.querySelector('.insert');
            post.append('"'+loc+'"');

            var mapOptions = { 
                center:new google.maps.LatLng(lat, lon),
                zoom:19
            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapOptions );

            marker = new google.maps.Marker({position: {lat: lat, lng: lon}, map: map});

            var addr='<div class="detailAddr">'+loc+'</div>';
            var infowindow=new google.maps.InfoWindow();
            infowindow.setContent(addr);
            infowindow.open(map, marker);
        }


        var take=document.getElementById('takePicture');
        var show=document.querySelector('.show');
        var imgUrl, file, dataUrl;
        if (take){
            take.onchange=function(event){
                var files=event.target.files;
                if (files && files.length>0) {
                    file=files[0];
                    try{//오류있을수도 있는 문장
                        var link=window.URL||window.webkitURL;//window.URL 객체 얻기
                        imgUrl=link.createObjectURL(file);//objectURL 생성

                        var group=document.querySelector('.group');
                        group.style.display='none';

                        show.src=imgUrl;

                        var picture=document.querySelector('.picture');
                        picture.style.display='block';
                        picture.onload=function(){link.revokeObjectURL(imgUrl);}//이미지 띄우고 url 취소하기(메모리 절약 위함)
                    }
                    catch(e){//에러 있다면
                        console.log('error');
                        try{
                            var fileReader=new FileReader();//createObject가 안되는 경우
                            fileReader.onload=function(event){
                                imgUrl=event.target.result;
                            };
                            fileReader.readAsDataURL(file);
                        }
                        catch(e){
                            var error=document.getElementById('error');
                            if(error) error.innerHTML="Neither createObjectURL or FileReader are supported";
                        }
                    }
                }
            }
        }

        function blobToDataUrl(){//blob 형식을 data url로 변환하기(다른 위치로 넘기기 위함)
            var reader=new FileReader();
            if (file) reader.readAsDataURL(file);
            reader.onload=function(event){
                dataUrl=event.target.result;
                if (dataUrl){
                    console.log(dataUrl);
                    //해당 위치로 전송하기

                    thanks();
                }
            }

        }

        function thanks(){
            location.href='/thanks';
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAINu-Vv9AJ4lAjjQUJsgKVWn7ZlOkn2HM&callback=myMap"></script>
</body>
</html>