<!DOCTYPE html>
<html>
<head>
    <title>Google</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Gowun Batang', serif;
            font-family: 'Nanum Gothic', sans-serif;
        }
        .loading{/*gooddrive*/
            font-family: 'Do Hyeon', sans-serif;
            font-size:150px;
            margin-top:600px;
            text-align:center;
        }
        .detailAddr{/*infowindow(주소정보들)*/
            font-size:40px;
        }
        .addr{/*법정동 주소정보*/
            font-weight: bold;
            font-size: 45px;
        }
        .roadAddr{/*도로명주소*/
            margin:10px 0px;
        }
        .checkbox{/*작성할게요, 네 맞습니다 버튼*/
            margin:10px 50px;
            font-size:50px;
            border-radius: 25px;
        }
        .boxgroup{/*버튼 모음*/
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="loading">GOODDRIVE</div>
    <div class="box" style="display:none; margin-top:200px;">
        <div style="font-size:60px; margin-left:60px;">
            <img src="https://e7.pngegg.com/pngimages/199/694/png-clipart-computer-icons-map-location-sign-cdr-black-thumbnail.png" 
            style="width:60px; height:60px">
            현재 위치가 맞습니까?
        </div>
        <div style="color:red; font-size:50px; margin-left:85px;">
            &nbsp;&nbsp;&nbsp;&nbsp;<strong>※아닐경우 위치를 조정해주세요!</strong>
        </div>
        
        <br>
        <div id="googleMap" style="width: 90%; height: 800px; margin:auto;"></div>
        <br><br>
        <div class="boxgroup">
            <button class="mb-2 mr-2 btn-transition btn btn-outline-secondary checkbox write" onclick="search();">
                작성할게요</button>
            <button class="mb-2 mr-2 btn-transition btn btn-outline-secondary checkbox ok" onclick="done();">
                네, 맞습니다</button>
        </div>
    </div>

    <script>
        var loader=document.querySelector('.loading');
        var group=document.querySelector('.box');
        window.addEventListener('load',()=>{
            setTimeout(()=>{ //2000ms 후에
                loader.style.display='none';
                group.style.display='block';
            },2000);//로딩속도 구현
        })

        var lat, lon, loc, map, marker;
        function myMap(){//맨아래 script 태그에서 callback을 mymap으로 해서 mymap은 자동실행되는 결과

            //접속 위치를 얻기
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    lat = position.coords.latitude; // 위도
                    lon = position.coords.longitude; // 경도 

                    var mapOptions = { 
                        center:new google.maps.LatLng(lat, lon),
                        zoom:19
                    };
                    map = new google.maps.Map(document.getElementById("googleMap"), mapOptions );

                    marker = new google.maps.Marker({position: {lat: lat, lng: lon}, map: map});

                    latlon2addr(lat, lon);

                    //클릭하면 마커 변화
                    google.maps.event.addListener(map, 'click', function(event){
                        marker.setMap(null);//마커 하나만 뜨도록 기존것 없애주기
                        marker=new google.maps.Marker({position: {lat: event.latLng.lat(), lng: event.latLng.lng()}, map: map});
                        latlon2addr(event.latLng.lat(),event.latLng.lng(),marker);
                        map.setCenter(marker.getPosition());//마커가 가운데 위치하도록
                        marker.setMap(map);
                    })
                });
            }

            //위도 경도를 주소로 변환
            function latlon2addr(lat, lon){
                var geocoder=new google.maps.Geocoder;//주소를 위도 경도로 변환
                geocoder.geocode({'location':{lat: lat, lng: lon}},function(results,status){
                    if (status==='OK') {
                        makebox(results[0].formatted_address,map);//주소표시
                    }
                    else alert('error address');
                });
            }

            //주소 표시하기
            function makebox(addr){
                loc=addr;
                var detail='<div class="roadAddr">도로명주소 : '+addr+'</div>';
                var content='<div class="detailAddr">'+'<span class="addr">법정동 주소정보</span>'
                    +detail+'</div>';
                
                var infowindow=new google.maps.InfoWindow();
                infowindow.setContent(content);
                infowindow.open(map, marker);
            }
        }

        //주소검색 페이지로 이동
        function search(){
            location.href='/search';
        }
        
        //서비스 이용완료
        function done(){
            var send={
                "lat":lat,
                "lon":lon,
                "loc":loc
            };
            localStorage.setItem("send",JSON.stringify(send));//localStorage에 저장해서 다른 파일에서도 사용할 수 있도록
            location.href='/done';
        }
    </script> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAINu-Vv9AJ4lAjjQUJsgKVWn7ZlOkn2HM&callback=myMap"></script>
</body>
</html>



