<!DOCTYPE html>
<html>
<head>
    <title>Camera</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <style>
        *{font-family: 'Gowun Batang', serif; font-family: 'Nanum Gothic', sans-serif;}
        .group{font-size:80px; text-align:center; margin-top:600px; color:#6c757d;}
        .title{font-family: 'Do Hyeon', sans-serif; color:#495057;}
    </style>
</head>
<body>
    <div class="group">
        <strong class="title">"GOODDRIVE"</strong> 를
        <br>
        이용해주셔서 감사합니다.
    </div>

    <script>
        
    </script>
</body>
</html>